{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content %}
<div class="container text-center mb-4">
    <h1>Hey You! Welcome to GlowStack</h1>
    <h5>"Blogging is not just writing; it's a conversation between you and the world."!</h5>
</div>

<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Create a Post</h5>
        <form method="POST" action="/create-post">
            <textarea name="text" class="form-control" rows="3" placeholder="What's on your mind?"></textarea>
            <div class="text-end mt-2">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a href="/posts/{{user.username}}" class="btn btn-lg btn-primary">View My Posts</a>
</div>

{% endblock %}
